*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .container
{
    min-height: 75vh;
    background-color: #271e1e;
}

.container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 2rem;
}

header
{
    flex: .5;
    background-color: lightgray;
    justify-items: center;
    align-content: center;
}

h1
{
    font-size: 3rem;
}

section
{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col-left
{
    flex: 2;
    background-color: rgb(134, 173, 212);
}

h2
{
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.col-left p
{
    margin: 0 2.5rem 0 2.5rem;
    text-align: center;
}

p > img
{
    width: 25vw;
    max-width: 300px;
}

.col-right
{
    flex: 1;
    background-color: #dd9435;
    justify-items: center;
    align-content: center;
}

ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

li a:link
{
    color: rgb(227, 241, 241);
    text-decoration: none;
}

li a:visited
{
    color: rgb(121, 61, 240);
    text-decoration: none;
}

li a:hover
{
    text-decoration: underline;
}

li a:active
{
    text-decoration: underline;
}

footer
{
    /* background-color: rgb(59, 49, 245); */
    background-color: rgb(130, 130, 221);
    flex: 1;
    color: white;
    justify-items: center;
    align-content: center;
}

.container, header, section, .col-left, .col-right, footer
{
    border-radius: 2rem;
}

@media screen and (min-width: 768px)
{
    .container
    {
        margin: 2rem 5rem;
    }

    section
    {
        flex-direction: row;
    }
    
    .container.second section
    {
        flex-direction: row-reverse;
    }

    ul
    {
        flex-direction: column;
    }
}

/*
@media screen and (min-width: 1281px)
{
    section
    {
        flex-direction: column-reverse;
    }
}
*/
